.typebar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.i-center{
    display: flex;
    justify-content: center;
}

.h1-sd{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.h2-s{
    font-size: 16px;
    color: #333333;
}

.div-sd{
    margin: 45px ;
}

.in-s{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.f-s{
    vertical-align: middle;
    font-size: 13px;
}

.line-s{
    border-bottom: 1px solid #ebebeb;
}

.pp-l{
    width: 200px;
}

.pp-r{
    width: 385px;
}

.btn-s2{
    box-shadow: none;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: #fff;
}

.btn-s{
    display: flex;
    justify-content: end;
    width: 585px;
    margin-top: 30px;
}



.input-s{
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 584px;
    max-width: 584px;
    margin-top: 35px;

}

.botto-s{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.bar-item{
    margin: 10px;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }